nav {
	background-color: rgba(255, 140, 0, 1);
	height: 40px;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

.logout {
	font-size: 1.5em;
	background-color: rgb(255, 160, 0);
	margin-left: 90%;
	height: 100%;
}

.home {
	font-size: 1.5em;
	background-color: rgb(255, 160, 0);
	margin-left: 50%;
	height: 100%;	
}

.bottom {
	background-color: rgb(255, 140, 0);
	font-family: "Lucida Console", Monaco, monospace;
	margin-left: 3%;
	width: 94%;
	
}

.btn {
	display: block;
	margin: 15px auto 0px auto;
}

.profile {
	margin-left: 1%;
}

.profile_label {
	width: 125px; 
}

.profile_input_td {
	width: 240px;
}

.profile_input {
	height: 40px;
}

.identityBox {
	height : 25px;
	margin-left: 10px;
}

.identity {
	margin-left: 3px;
	margin-right: 3px;
	color: #3e6d8e;
	background-color: #e0eaf1;
	border-bottom: 1px solid #b3cee1;
	border-right: 1px solid #b3cee1;
	padding: 3px 4px 3px 4px;
	margin: 2px 2px 2px 0;
	text-decoration: none;
	font-size: 90%;
	line-height: 1.0;
	white-space: nowrap;
	display: inline-block;
}

.cross {
	background-image: url("/media/img/cross.png");
	width: 13px;
	height: 13px;
	display: inline-block;
	background-size: 100%;
	vertical-align: top;
	cursor: pointer;
}

.table_identities {
	max-width : 30%;
	border: 1px solid #999;
	margin: 30px auto 0px auto;
}

.tick {
	width :20%;
	cursor: pointer;
}

.active {
	background-image: url("/media/img/tick.png");
	background-position: 20px 9px;
	background-repeat: no-repeat;
	width: 13px;
	height: 13px;
	display: inline-block;
}